@use './../../../../styles.scss' as*;


/* :::::  FOOTER :::::  */
footer {
    background-color: rgb(44, 38, 4);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    border-top: 2px solid $orange;

}

.footer-container {
    width: 76vw;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.6rem;
}

.soc-med img {
    width: 40px;
    height: 40px;
    padding-left: 16px;
}

.soc-med a {
    @include defaultA($c: $white, $hoverC: $orange);
    font-family: 'Raleway', sans-serif;
}