@use './../../styles.scss' as *;


.imprint-container {
    @include dFlex($jc: center, $ai: center, $fd: column);
    width: 100%;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    // flex-direction: column;
    padding: 0px;
    margin-top: 160px;
    margin-bottom: 160px;
    font-family: 'Raleway', sans-serif;

}

.imprint-content a {
    @include defaultA($c:$dark_red, $hoverC:$orange);
}