@import './../../../../styles.scss';

@mixin dFlex() {
    display: flex;
    align-items: center;
}

nav {
    width: 100%;
    padding: 32px;
    // display: flex;
    justify-content: space-between;
    font-family: 'Raleway', sans-serif;

    @include dFlex();

    >img {
        cursor: pointer;
        width: 64px;
        height: 64px;
    }

    >div {
        @include dFlex();
        justify-content: space-between;
        gap: 24px;

        >a {
            &:hover {
                // border-bottom: 2px solid white;
                color: $orange;
            }
        }
    }


    height: 80px;
    position: absolute;
    top: 12px;
}

a {
    text-decoration: none;
    color: $white;
}

.phone-btn {
    display: flex;
    align-items: center;
    justify-items: space-between;
    // width: 178px;
    // width: auto;
    gap: 4px !important;
    cursor: pointer;
    border: 1px solid $white;
    padding: 8px 12px;
    border-radius: 12px;
    background-color: $dark_red;

    >a {
        font-weight: 600;

        &:hover {
            border-bottom: none !important;
            color: $white;
        }
    }

    >img {
        width: 19px;
        height: 19px;
        padding-top: 2px;
    }
}